{% extends 'stock_scanner_app/base.html' %}
{% load namedtuple_to_dict %}

{% block content %}

  <h1>Stock Scanner</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Scan</button>
  </form>

  {% if not empty_results %}
    <h2>Results:</h2>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in results %}
                <tr>
                    {% for column, value in row.items %}
                        {% if column == 'date' %}
                            <td>{{ value|date:"Y-m-d" }}</td>
                        {% elif column == 'symbol' %}
                            <td class="symbol-cell" data-symbol="{{ value }}">{{ value }}</td>
                        {% else %}
                            <td>{{ value|floatformat:2 }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="chart-container" style="display:none;">
      <div id="chart"></div>
    </div>
  {% else %}
    <h2>There're no result detected</h2>
  {% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

{% if not empty_results %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<style>
.chart-container {
  position: absolute;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
</style>
<script>
  var chartData = {{ chart_data|safe }};

  $(document).ready(function() {
    $('.symbol-cell').on('mouseenter', function(e) {
      var symbol = $(this).data('symbol');
      var data = chartData[symbol];
      var plotData = data['data'];
      var layout = data['layout'];
      Plotly.newPlot('chart', plotData, layout);
      $('.chart-container').css({ top: e.pageY - 320, left: e.pageX - 100 }).show();
    });

    $('.symbol-cell').on('mouseleave', function() {
      $('.chart-container').hide();
    });
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
      const scannerTypeSelect = document.getElementById('scanner_type');
      const spikeThresholdInput = document.getElementById('spike_threshold');
      const atrMultiplierInput = document.getElementById('atr_multiplier');
      const atrWindowSizeInput = document.getElementById('atr_window_size');
      const dojiToleranceInput = document.getElementById('doji_tolerance');
  
      function showHideFields() {
          const selectedScanner = scannerTypeSelect.value;
  
          spikeThresholdInput.parentElement.style.display = selectedScanner === 'spike_volume' ? 'block' : 'none';
          atrMultiplierInput.parentElement.style.display = selectedScanner === 'volatility' ? 'block' : 'none';
          atrWindowSizeInput.parentElement.style.display = selectedScanner === 'volatility' ? 'block' : 'none';
          dojiToleranceInput.parentElement.style.display = selectedScanner === 'doji' ? 'block' : 'none';
      }
  
      scannerTypeSelect.addEventListener('change', showHideFields);
      showHideFields();
  });
  </script>
  
{% endif %}

{% endblock %}
